# For scraping
bs4
# For the audio interface
gtts
# For Beatiful soup
lxml
# For automation against web interface
mechanize
# For portable game controller
pygame
# For the other web
requests
# For better output
tabulate
# Testing
requests_mock
ruyaml